.jumbotron {
    text-align: center;
    padding: 20px;
    background-color: rgb(14, 69, 151);
    color: white;
}


#contentSplit {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.card-header {
    background-color: rgb(14, 69, 151);
    color: white;
}

.search {
    background-color: rgb(14, 69, 151);
    color: white;
}

.clear {
    background-color: rgb(14, 69, 151);
    color: white;
}

.articleBox {
    border: 2px solid grey;
    padding: 20px;
    margin-bottom: 20px;
}
